/* general for all the pages */

body {
	background-image: url("../icons/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; /* scales the image until it has met the actual height / width */
	font-family: Neucha;
	margin: 0;
}

/* top navigation bar */

.top {
	width: 100vw;
	height: 5vw;
	border: 0;
	border-bottom: 0.2vw solid;
	background-color: transparent;
	margin-top: 1vw;
	margin-bottom: 1vw;
	display: flex;
}

.topbaritems {
	width: 100%;
	display: flex;
	align-items: center; /* centers the items vertically */
	justify-content: space-evenly;
}

#top-logo {
	height: 4vw;
	width: auto;
}

.topbaritems button {
	background-color: transparent;
	border-color: transparent;
	font-size: clamp(12px, 2vw, 36px);
	font-family : inherit;
	cursor: pointer;
}

.topuser_info {
	display: flex;
	align-items: center;
}

.topuser_logout {
	display: flex;
	flex-direction: column;
	font-size: max(1vw, 6px);
	justify-content: center;
	align-items: center;
}

.top-profilepic {
	width: 3vw;
	height: 3vw;
	overflow: hidden;
	border-radius: 50%;
}

#top-profilepic {
	height: 3vw;
	width: auto;
}

.topuser_logout button {
	font-size: max(1.5vw, 9px);
}

/* capture_image.php */

.editing_area {
	width: 98vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1vw;
}

.preview_area {
	width: 78vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1vw;
}

.previous_photos_bar {
	width: 15vw;
	height: 44.5vw;
	min-width: 100px;
	min-height: 300px;
	border: 0.05vw solid;
	border-radius: 5px;
	overflow: hidden;
	background-color: white;
	position: relative;
	box-shadow: 1px 1px 5px black; /* drop shadow with 5px distance and 10px softness */
}

.photo_bar_content {
	width: 15vw;
	height: 44.5vw;
	min-width: 100px;
	min-height: 300px;
	overflow-y: scroll;
}

#saved_photo {
	width: 12vw;
	margin: 0.5vw;
}

@media (orientation: portrait) and (hover: none) {
	.previous_photos_bar {
		width: 86vw;
		height: 12vw;
		min-width: 300px;
		min-height: 100px;
		border: 0.05vw solid;
		border-radius: 5px;
		overflow: hidden;
		background-color: white;
		position: relative;
		box-shadow: 1px 1px 5px black; /* drop shadow with 5px distance and 10px softness */
	}

	.photo_bar_content {
		width: 86vw;
		height: 12vw;
		min-width: 300px;
		min-height: 100px;
		overflow-x: scroll;
	}

	#saved_photo {
		width: 30vw;
		margin: 0.5vw;
	}
}

.capture_preview {
	border: 0.05vw solid;
	border-radius: 5px;
	padding: 1vw;
	box-sizing: border-box; /* limits the padding inside the figure width */
	background-color: white;
	text-align: center;
	font-size: 18px;
	position: relative;
	box-shadow: 1px 1px 5px black; /* drop shadow with 5px distance and 10px softness */
}

.capture_preview button {
	font-family: inherit;
}

#video, #canvas {
	width: 36vw;
	height: 27vw;
	min-width: 320px;
	min-height: 240px;
	transform: scaleX(-1);
}

#title_text {
	padding: 0.3vw; /* adds extra padding to the picture title */
}

#sticker_preview1, #sticker_preview2 {
	width: 36vw;
	height: 27vw;
	min-width: 320px;
	min-height: 240px;
	position: absolute;
	left: 1vw;
	top: 1vw;
	z-index: 1;
}

.stickerbar {
	border: 0.05vw solid;
	border-radius: 5px;
	width: 99%;
	min-width: 328px;
	height: 10vw;
	overflow: hidden;
	background-color: white;
	box-shadow: 1px 1px 5px black; /* drop shadow with 5px distance and 10px softness */
}

.stickerbar_content {
	width: 100%;
	min-width: 328px;
	height: 10vw;
	display: flex;
	overflow-x: scroll;
}

.sticker {
	border: 0.05vw solid;
	margin: 0.2vw;
	height: 8vw;
	background-color: rgb(230, 218, 218);
	border-radius: 3px;
}

.upload_area {
	margin: 1vw;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5vw;
}

input[type=file] {
	font-family: inherit;
}

/* profile page */

.profile_container {
	width: 25vw;
	min-width: 330px;
	min-height: 500px;
	border: 0.05vw solid;
	border-radius: 5px;
	background-color: white;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: max(1.2vw, 12px);
	box-shadow: 1px 1px 5px black; /* drop shadow with 5px distance and 10px softness */
}

.profile_picture {
	width: 10vw;
	height: 10vw;
	min-width: 150px;
	min-height: 150px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-top: 0.5vw;
}

#profile_picture {
	display: inline;
	height: 10vw;
	min-height: 150px;
	width: auto;
	/* margin-left: -15%; */
}

.profile_container button, input[type=submit] {
	color: white;
	border: 0.05vw solid;
	border-radius: 2px;
	background-color: blue;
	width: 23vw;
	height: 6vw;
	min-width: 290px;
	max-height: 25px;
	font-family : inherit;
}

.profile_container h3 {
	width: 23vw;
	min-width: 290px;
	text-align: center;
}

input[type=text], input[type=password], input[type=email]  {
	width: 23vw;
	min-width: 290px
}

.profile_form {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#delete_user {
	background-color: rgb(254,72,0);
	margin-bottom: 0.5vw;
}

#warning_message {
	width: 23vw;
	min-width: 290px;
	color: red;
}

#success_message {
	width: 23vw;
	min-width: 290px;
	color: green;
}

/* footer*/

.footer {
	margin-top: 1vw;
	position: relative;
}

#footer_line {
	border: 0;
	width: 100vw;
	height: 0.1vw;
	background-color:black
}

#copyright {
	text-align: right;
	margin-right: 20px;
	font-style: italic;
	font-size: max(1.2vw, 12px);
}

/* login page */

#divider_line {
	color: black;
	width: 23vw;
	min-width: 290px;
	margin-bottom: 0;
}

/* index page */

.index_container {
	width: 64vw;
	max-height: 48vw;
	overflow: hidden;
	border: 0.05vw solid;
	border-radius: 5px;
	background-color: white;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: max(1.2vw, 12px);
	box-shadow: 1px 1px 5px black; /* drop shadow with 5px distance and 10px softness */
}

.index_picture {
	width: 15vw;
	margin: 0.5vw;
	margin-bottom: 0.2vw;
	transition: opacity 0.5s ease-in-out;
}

.index_container h3 {
	position: absolute;
	top: 22vw;
	font-size: 6vw;
	color: white;
	text-shadow: 5px 5px 5px black; /* drop shadow with 5px distance and 10px softness */
	transition: opacity 0.5s ease-in-out;
}

@media (orientation: portrait) and (hover: none) {
	.index_container {
		width: 96vw;
		max-height: 150vw;
		overflow: hidden;
		border: 0.05vw solid;
		border-radius: 5px;
		background-color: white;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: max(1.2vw, 12px);
		box-shadow: 3px 3px 5px black; /* drop shadow with 5px distance and 10px softness */
	}

	.index_picture {
		width: 30vw;
		margin: 1vw;
		margin-bottom: 0.2vw;
	}

	.index_container h3 {
		position: absolute;
		top: 63vw;
		font-size: 9vw;
		color: white;
		text-shadow: 5px 5px 5px black; /* drop shadow with 5px distance and 10px softness */
		transition: opacity 0.5s ease-in-out;
	}
}