.gallery {
	width: 95vw;
	margin: auto; /* centers the gallery */
	display: flex; /* makes the gallery items align in a row */
	flex-wrap: wrap; /* makes the gallery items wrap and switch rows automatically */
	justify-content: space-evenly; /* sets equal space around gallery items */
}

#picture_with_buttons {
	width: 20vw;
	min-width: 300px;
}

@media (orientation: portrait) and (hover: none) {
	#picture_with_buttons {
	width: 95vw;
	}
}

#image_user_tag {
	font-size: clamp(10px, 1vw, 16px);
	margin: 0vw;
	margin-bottom: 2px;
}

figure {
	border: 0.05vw solid;
	border-radius: 5px;
	padding: 5px; /* adds padding to all the figure elements */
	box-sizing: border-box; /* limits the padding inside the figure width */
	margin: 0.5vw;
	box-shadow: 1px 1px 5px black; /* drop shadow with 1px distance and 5px softness */
	background-color: white;
}

.delete_like_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}

.like_container {
	display: flex;
	align-items: center;
}

.heart_picture {
	width: 30px;
	cursor: pointer;
}

.trash_and_profile {
	height: 20px;
	display: flex;
	gap: 5px;
	padding-top: 5px;
	cursor: pointer;
}

.profile_icon, #profile_icon_select, .trash_icon {
	height: 20px;
	width: auto;
}

figure img {
	width: 100%;
	display: table
}

figure figcaption {
	padding: 0.3vw; /* adds extra padding to the comments */
}

.comment {
	text-align: center;
	font-size: clamp(12px, 1vw, 18px);
	display: flex;
	align-items: center;
	justify-content: center;
	word-break: break-all; /* prevents too long words from overflowing */
}

.del_comment {
	height: 15px;
	width: auto;
	cursor: pointer;
}

.gallery_form {
	margin: 0.5vw; /* sets the same margin for the delete and comment forms, as in figures */
}

#gallery_form input[type=text] {
	width: 100%;
	margin-bottom: 0.3vw;
}

#gallery_form button {
	font-family: inherit;
}

.pagination {
	display: flex;
	align-items: center; /* horizontal alignment */
	justify-content: center; /* vertical alignment */
	font-size: clamp(12px, 1vw, 16px);
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none; /* removes the underscore */
	transition: background-color .3s;
}

/* .pagination a.active {
	background-color: #4CAF50;
	color: white;
} */

.pagination text {
	padding: 8px 16px;
}

.pagination a:hover {
	background-color: #ddd;
}
/* :not(.active) */
